version: '3.2'
services:
    croupier:
        image: keybase_croupier:latest
        environment:
            BOT_OWNER: zackburt
            MONGODB_USERNAME: croupier
            MONGODB_PASSWORD: croupier.documentdb
            MONGODB_HOST: redacted
            DEV_CROUPIER_PAPERKEY1: redacted
            DEV_CROUPIER_PAPERKEY2: redacted
            TEST_CROUPIER_PAPERKEY1: redacted
            TEST_CROUPIER_PAPERKEY2: redacted
            CROUPIER_RINGO_USERNAME: croupierringo
            CROUPIER_RINGO_PAPERKEY: redacted
            CROUPIER_PAUL_USERNAME: croupierpaul
            CROUPIER_PAUL_PAPERKEY: redacted
            CROUPIER_JOHN_USERNAME: croupierjohn
            CROUPIER_JOHN_PAPERKEY: redacted
            CROUPIER_GEORGE_USERNAME: croupiergeorge
            CROUPIER_GEORGE_PAPERKEY: redacted
            HONEYBADGER_API_KEY: redacted
            SUBTEAM_NAME: redacted
        entrypoint: /home/keybase/scripts/start.sh
        restart: always
        volumes:
          - type: volume
            source: 0_home
            target: /home/keybase
          - type: bind
            source: ./0_scripts
            target: /home/keybase/scripts

volumes:
    0_home:
